:root {
    --mainColor: #15202b;
    --secoundryColor: #192734;

    --borderColor: #164d56;

    --mainText:#fff;
    --secoundryText: #eeeeee;

    --themeDotBorder:black;

    --previewBg: rgb(25, 39, 52, 0.6);
    --previewShadow: #111921;
}