
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap");


:root {
    --mainColor: #eaeaea;
    --secoundryColor: #fff;

    --borderColor: #c1c1c1;

    --mainText:black;
    --secoundryText: #4b5156;

    --themeDotBorder: #24292e;

    --previewBg: rgb(251, 249, 243, 0.6);
    --previewShadow: #f0ead6;
}

html, body {
    padding: 0;
    margin: 0;
}
body * {
    transition: 0.5s;
}
h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: 'Roboto Mono', monospace;
}

p, li, span, label, input, textarea {
    color: var(--secoundryText);
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
}

.s1 {
    background-color: var(--mainColor);
    border-bottom: 2px solid var(--borderColor);
    overflow: auto;
}

.s2 {
    background-color: var(--secoundryColor);
    border-bottom: 2px solid var(--borderColor);
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}
@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
    
}

/*--------------Home Page-------------*/

.greeting-wrap {
    display: grid;
    min-height: 10em;
    align-content: center;
    justify-content: center;
}

.intro-wrap {
    background-color: var(--secoundryColor);
    border: 1px solid var(--borderColor);
    box-shadow: black 0 1px 5px;
    border-radius: 10px 10px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas: 
        'nav-wrap nav-wrap'
        'left-column right-column'
    ;
}

.nav-wrap {
    grid-area: nav-wrap;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 10px 10px 0 0;
   
}

#navigation a {
    color: var(--mainText);
}
#navigation {
    margin: 0;
    padding: 10px;
}
#navigation li {
    display: inline-block;
    margin: 10px ;
}

/*--------------Left Side-------------*/

.left-column {
    grid-area: left-column;
    padding-top: 100px;
}
#profile-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: black 0 1px 5px;
    margin: 0 auto;
    display: block;
    
}
.left-column img:hover {
    opacity: 0.5;
}


#theme-option-wrap {
    display: flex;
    justify-content: center;
}

.theme-dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    margin: 5px;
    border: 2px solid var(--themeDotBorder);
}
.theme-dot:hover {
    border-width: 4px;
    animation-duration: 2s;
}

#light-mode {
    background-color: #fff;
}
#blue-mode {
    background-color: #15202b;
}
#green-mode {
    background-color:#78866b;
}
#purple-mode {
    background-color: #7e4c74;
}

/*--------------Right Side-------------*/

.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
#preview-shadow {
    background-color: var(--previewShadow);
    width: 300px;
    height: 150px;
    padding-left: 30px;
    padding-top: 30px;
}
#preview {
    width: 300px;
    border: 2px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}
@media screen and (max-width: 800px){
    .intro-wrap {
        
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrap'
            'left-column'
            'right-column'
        ;
    }
    .right-column {
        justify-content: center;
        padding-bottom: 70px;
        padding-top: 10px;
    }
    #preview-shadow {
        background-color: var(--previewShadow);
        width: 200px;
        height: 210px;
        padding-left: 30px;
        padding-top: 30px;
    }
    #preview {
        width: 200px;
        border: 2px solid #17a2b8;
        background-color: var(--previewBg);
        padding: 15px;
        position: relative;
    }
    
}

.corner{
    background-color: #fff;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: 2px solid #17a2b8;
    position: absolute;
}
#corner-tr {
    top: -5px;
    right: -5px;
}
#corner-tl {
    top: -5px;
    left: -5px;
}
#corner-br {
    bottom: -5px;
    right: -5px;
}
#corner-bl {
    bottom: -5px;
    left: -5px;
}

.dots-wrap{
    display: flex;
    padding: 10px;
}

.browser-dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
}

#dot-1 {
    background-color: #fc6058;
}
#dot-2 {
    background-color: #fec02f;
}
#dot-3 {
    background-color: #2aca3e;
}

/*--------------About Page-------------*/

.about-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 50px;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
    
}

.social-links {
    display: grid;
    align-content: center;
    text-align: center;
}

.social-img {
    width: 100%;
}

/*--------------Portfolio Page-------------*/

.post-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
    gap: 30px;
    padding-bottom: 50px;
}

.post {
    border: 0.5px solid var(--borderColor);
    box-shadow: rgb(80, 79, 79) 0 1px 5px;
}

.post-img {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;

}

.post-preview {
    background-color: #fff;
    padding: 15px;
}

.post-title {
    color: black;
    margin: 0;
}

.post-intro {
    color: #4b5156;
    font-size: 14px;
}


/*--------------Footer-------------*/

.bottom-wrap {
    background-color: var(--secoundryColor);
    border: 1px solid var(--borderColor);
    box-shadow: black 0 1px 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    grid-template-areas: 'bottom-1 bottom-2 bottom-3 bottom-4';
}
    @media screen and (max-width: 800px){
        .bottom-wrap{
            grid-template-columns: 1fr;
            grid-template-areas: 
            'bottom-1'
            'bottom-2'
            'bottom-3'
            'bottom-4'
            ;
            
        }
} 
.bottom-1 {
    grid-area: bottom-1;
    text-align: center;
}
.bottom-1 p {
    font-size: 10px;
}
.bottom-2 {
    grid-area: bottom-2;
    text-align: center;
}
.bottom-2 a {
    font-size: 14px;
}
.bottom-3 {
    grid-area: bottom-3;
    text-align: center;
}
.bottom-3 a {
    font-size: 14px;
}
.bottom-4 {
    grid-area: bottom-4;
    text-align: center;
}
.bottom-4 h4 {
    margin-bottom: 0px;
}



.bottom-nav-wrap {
    border: 1px solid var(--borderColor);
    background-color: var(--mainColor);
    border-radius: 0 0 10px 10px;
    box-shadow: black 0 1px 5px;
    height: 40px;
}

.bottom-container {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
}
@media screen and (max-width: 1200px){
    .bottom-container{
        width: 95%;
    }
    
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    padding-right: 40px;
    
}

.social-icons li {
    font-size: 18px;
}
 